<div class="row justify-content-start bg-light">
    <div class="col-1">
      <a class="nav-link active" href="#">E-Commerce</a>
    </div>
    <div class="col-11">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#">Créer un compte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connexion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Déconnexion</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
