<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/articles">Ecom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/articles">Nos articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/articles">Catégorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="!isAuth" routerLink="/signup">Créer un compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="!isAuth" routerLink="/signin">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" *ngIf="isAuth" (click)="onSignOut()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
