<div *ngIf="food" class="container">
  <div class="row">
    <div class="col col-xs-12">
      <h2>{{food.name}}</h2>
      <img *ngIf="food.photo && food.photo.length > 0" src="{{food.photo}}" style="width: 300px; height: 150px"/>
      <p>Prix : {{food.price}}€</p>
      <p>Ce produit est un {{food.category}}</p>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
          <button class="btn btn-success">Ajouter au panier</button>
        </div> 
        <div> 
          <button class="btn btn-danger">Retirer du panier</button>
        </div>
        <div>
          <button (click)="goBack()" class="btn btn-primary">Retourner à la liste</button>
        </div>
      </div>
    </div>
  </div>
</div>